Repository jhanke00/nextjs-product-site: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jest --bail --findRelatedTests, prettier --write

test: add integration tests for user endpoints
  app/api/user/[id]/orders/total/route.ts
  package.json
  pnpm-lock.yaml
  tests/user/user-detail.test.ts
  tests/user/user-orders-total.test.ts
  tests/user/user-orders.test.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

test: add product endpoints tests
  app/api/product/[id]/route.ts
  app/api/signup/route.ts
  infra/db/mongo/models/User.ts
  infra/db/mongo/mongo.ts
  package.json
  pnpm-lock.yaml
  tests/product/product-list.test.ts
  tests/product/product-search.test.ts
  tests/product/product.test.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

fix: fix dependency typo
  app/api/login/route.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

chore: updated mock files
  src/mock/small/orders.json
  src/mock/small/products.json
  src/mock/small/users.json
Due: prettier --write

chore: added storybook-static to gitignore
  .gitignore
Due: none

test: setup test files
  cypress.config.ts
  jest.config.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

build: update dependencies and add new scripts
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: created global components
  src/components/ui/button/index.tsx
  src/components/ui/input/index.tsx
  src/components/ui/select/index.tsx
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

test: added unit test to global components
  src/components/ui/button/button.spec.tsx
  src/components/ui/input/input.spec.tsx
  src/components/ui/select/select.spec.tsx
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

docs: created documentation to global components
  src/components/ui/button/button.stories.tsx
  src/components/ui/input/input.stories.tsx
  src/components/ui/select/select.stories.tsx
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

feat: Add product search functionality and related components
  app/product-search/layout.tsx
  app/product-search/page.tsx
  app/products/page.tsx
  src/components/form/product-search/index.tsx
  src/components/form/product-search/validation.ts
  src/components/searched-product/index.tsx
  src/utils/get-product-categories.ts
  src/utils/get-products.ts
  tailwind.config.ts
  tsconfig.json
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

test: setup cypress
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/e2e.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

fix: handle webpack to resolve path aliases
  .storybook/main.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

docs: created doc for page file
  app/product-search/product-search.stories.tsx
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

test: e2e product search
  cypress/e2e/product-search.cy.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

docs: added documentation
  docs/frontend/product-search.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  jest --bail --findRelatedTests: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,md,mdx}
