Repository jhanke00/nextjs-product-site: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jest --bail --findRelatedTests, prettier --write

ci: add env sample
  .env.local
Due: none

refactor: move docker to infra, add default secret to pass on ci
  infra/auth/Dockerfile
  infra/auth/docker-compose.test.yml
  infra/auth/docker-compose.yml
  src/config/auth.config.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

docs: update docs
  docs/backend/index.md
  docs/backend/user-api.md
  docs/frontend/index.md
  docs/infrastructure/index.md
  infra/Dockerfile
  infra/docker-compose.test.yml
  infra/docker-compose.yml
Due: prettier --write

docs: text changes
  docs/backend/index.md
  docs/frontend/index.md
  docs/infrastructure/index.md
  package.json
Due: prettier --write

feat: Add authentication middleware
  app/middleware.ts
  src/utils/apiErrors/errorMessages.ts
  src/utils/apiErrors/handleError.ts
  src/utils/auth/authService.test.ts
  src/utils/auth/authService.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

docs: add middleware
  docs/backend/index.md
Due: prettier --write

Fix issue on coundInStock field for products
  src/models/Product.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

fix: Pricerange bug
  models/ProductModelMock.ts
  src/components/ui/FiltersSidebar/index.tsx
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

fix: Rating input delay
  src/components/ui/FiltersSidebar/index.tsx
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

fix: Fix Pagination styles
  app/products/page.tsx
  models/ProductModelMock.ts
  src/components/ui/Pagination/index.tsx
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

Added new endopint to return recommended products. api/products/recommendations
  pages/api/products/recommendations.ts
  src/types/orders/index.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

Added new products recommendations endpoint on the backend docs
  docs/backend/index.md
Due: prettier --write

Create auth routes
  .env
  docs/backend/index.md
  package.json
  pages/api-doc.tsx
  pages/api/auth/[id].ts
  pages/api/auth/login.ts
  pages/api/auth/register.ts
  pnpm-lock.yaml
  prisma/dev.db
  prisma/migrations/20241007180858_init/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  src/utils/getUserById.ts
  src/utils/tokenUtils.ts
  src/utils/vailidations.ts
  tests/[id].test.ts
  tests/getUserById.test.ts
  tests/login.test.ts
  tests/register.test.ts
  tests/tokenUtils.test.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

feat: product small dataset routes
  lib/errorHandler/exception.ts
  lib/errorHandler/handler.ts
  lib/errorHandler/index.ts
  lib/errorHandler/type.ts
  middlewares/allowedMethodsValidator.ts
  models/product/lib.ts
  models/product/product.model.ts
  models/product/type.ts
  models/product/validators.ts
  package.json
  pages/api/products/[id].ts
  pages/api/products/index.ts
  pages/api/products/query.ts
  pnpm-lock.yaml
  services/products.service.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

refact: use status code enum on allowed methods middleware
  lib/errorHandler/exception.ts
  lib/errorHandler/index.ts
  middlewares/allowedMethodsValidator.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

docs: backend documentation
  docs/backend/index.md
Due: prettier --write

fix: update product type name
  docs/backend/index.md
  src/type/products/index.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

fix: add model type
  src/type/model/index.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

fix: product type id and price types
  src/type/products/index.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

[FEATURE][NEXT-PRODUCT-SITE] - Backend Isolation from front end usind REST APIS
  .vscode/launch.json
  app/api/products/[id]/route.ts
  app/api/products/route.ts
  app/products/[productId]/page.tsx
  app/products/page.tsx
  docs/backend/index.md
  package.json
  pnpm-lock.yaml
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

[FEATURE][NEXT-PRODUCT-SITE] - Fix Next Types
  app/api/products/route.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

refact: product lib - isMatch filter
  models/product/lib.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

revert: product lib - is match filter
  models/product/lib.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

[Feature]: Dashboard with cards and login with registration
  .dockerignore
  .env
  Dockerfile
  app/api/orders/route.ts
  app/api/products/route.ts
  app/api/users/route.ts
  app/components/dashboard-component/page.tsx
  app/components/products-component/page.tsx
  app/components/users-component/page.tsx
  app/config/aws-utils.ts
  app/config/database.ts
  app/dashboard/page.tsx
  app/globals.css
  app/layout.tsx
  app/login/page.tsx
  app/page.tsx
  app/products/[productId]/page.tsx
  app/products/layout.tsx
  app/products/page.tsx
  app/products/products.stories.tsx
  app/register/page.tsx
  app/verify/page.tsx
  docker-compose.yml
  docs/backend/index.md
  docs/frontend/index.md
  docs/infrastructure/index.md
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

update gitignore
  .gitignore
Due: none

fixed case in productDetail
  app/products/[productId]/page.tsx
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

clearing compile errors
  app/products/[productId]/page.tsx
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

fxing products page with same issue
  app/products/page.tsx
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

feat: add product search & filter
  app/layout.tsx
  app/products/page.tsx
  docs/backend/products-search.md
  infra/db/migrations/0001_fancy_turbo.sql
  infra/db/migrations/meta/0001_snapshot.json
  infra/db/migrations/meta/_journal.json
  infra/db/schema.ts
  package.json
  pnpm-lock.yaml
  reset.d.ts
  src/components/Input.tsx
  src/components/products/Filters.stories.tsx
  src/components/products/Filters.tsx
  src/components/products/Filters/Category.tsx
  src/components/products/Filters/Price.tsx
  src/components/products/Filters/Toggles.tsx
  src/components/products/List.stories.tsx
  src/components/products/List.tsx
  src/components/products/Search.stories.tsx
  src/components/products/Search.tsx
  src/components/products/Section.tsx
  src/utils/helpers.ts
  src/utils/products/repository.test.ts
  src/utils/products/repository.ts
  tailwind.config.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

update postinstall
  package.json
Due: prettier --write

Adds required label to Pull request workflow
  .github/workflows/pull-request.yml
Due: none

restore package
  package.json
Due: prettier --write

fix bad mode
  .github/workflows/pull-request.yml
Due: none

split required label workflow into new file
  .github/workflows/pr-labeler.yml
  .github/workflows/pull-request.yml
Due: none

Adds Filtering capabilities to product page Fix tailwind path resolution
  app/products/page.tsx
  next.config.mjs
  pages/api/products.ts
  pages/api/quickFilter.ts
  pages/index.md
  pnpm-lock.yaml
  src/components/index.md
  src/components/quickFilter.tsx
  src/components/rangeFilter.tsx
  src/components/valueFilter.tsx
  src/utils/createQueryString.ts
  tailwind.config.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

add test to products
  package.json
  pages/api/products.ts
  pnpm-lock.yaml
  tests/products.test.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  jest --bail --findRelatedTests: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,md,mdx}
