Repository jhanke00/nextjs-product-site: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jest --bail --findRelatedTests, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "jest --bail --findRelatedTests"],
  "*.{js,jsx,ts,tsx,json,md,mdx}": ["prettier --write"]
}

sort categories alphabetically
  pages/api/quickFilter.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

feat: :rocket: create server
  product-api/.eslintrc.js
  product-api/.gitignore
  product-api/.prettierrc
  product-api/README.md
  product-api/docker-compose.yml
  product-api/nest-cli.json
  product-api/package.json
  product-api/pnpm-lock.yaml
  product-api/src/app.controller.spec.ts
  product-api/src/app.controller.ts
  product-api/src/app.module.ts
  product-api/src/app.service.ts
  product-api/src/main.ts
  product-api/test/app.e2e-spec.ts
  product-api/test/jest-e2e.json
  product-api/tsconfig.build.json
  product-api/tsconfig.json
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

feat: resolve issue #57 and #59
  product-api/db/orders.json
  product-api/db/products.json
  product-api/db/users.json
  product-api/seed-db.js
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

refactor: :art: add script on package.json
  product-api/package.json
  product-api/seed-db.js
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

chore: change script
  product-api/seed-db.js
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

refactor: refactor seed
  product-api/seed-db.js
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

remmove unnused files
  product-api/src/app.controller.spec.ts
  product-api/src/app.controller.ts
  product-api/src/app.service.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

feat: resolved issue #14
  product-api/src/app.module.ts
  product-api/src/internal/controller/users.controller.ts
  product-api/src/internal/domain/orders.schema.ts
  product-api/src/internal/domain/products.schema.ts
  product-api/src/internal/domain/users.schema.ts
  product-api/src/internal/module/users.module.ts
  product-api/src/internal/service/users.service.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

feat: resolve issue #8
  product-api/docker-compose.yml
  product-api/src/app.module.ts
  product-api/src/internal/controller/products.controller.ts
  product-api/src/internal/module/products.module.ts
  product-api/src/internal/service/products.service.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

docs: update doc
  product-api/README.md
Due: prettier --write

docs: update doc
  README.md
Due: prettier --write

docs: update doc with instructions
  docs/backend/index.md
Due: prettier --write

Config changes
  .env.local
  .tool-versions
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
Due: prettier --write

Add docs
  docs/frontend/architecture.md
  docs/frontend/user-orders.md
Due: prettier --write

Implement logging module
  src/logging/logger.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

Implement config module
  src/config/Environment.ts
  src/config/env.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

Implement API SDK
  src/infrastructure/api/apiHttpClient.ts
  src/infrastructure/api/endpoints/getUser.ts
  src/infrastructure/api/endpoints/getUserOrders.ts
  src/infrastructure/api/endpoints/getUserOrdersSummary.ts
  src/infrastructure/api/models/Order.ts
  src/infrastructure/api/models/OrderItem.ts
  src/infrastructure/api/models/OrdersSummary.ts
  src/infrastructure/api/models/User.ts
  src/type/orders/index.ts
  src/type/products/index.ts
  src/type/users/index.ts
  src/utils/index.md
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

Reimplement mocks with NextJS api routes
  pages/api/users/[id]/index.ts
  pages/api/users/[id]/orders/index.ts
  pages/api/users/[id]/orders/summary.ts
  src/mock/helpers/allMockOrders.ts
  src/mock/helpers/allMockProducts.ts
  src/mock/helpers/allMockUsers.ts
  src/utils/createController.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

Setup NextJS pages router
  pages/_app.tsx
  pages/_document.tsx
  src/view/query/createQueryClient.ts
  src/view/styles/global.scss
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

Implement domain services and mappers
  src/domain/order/fetchUserOrders.ts
  src/domain/order/fetchUserOrdersSummary.ts
  src/domain/user/fetchUser.ts
  src/infrastructure/api/mappers/ApiOrderMapper.ts
  src/infrastructure/api/mappers/ApiUserMapper.ts
  src/utils/isDefined.ts
  src/utils/maybe.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

Implement domain representations
  src/domain/order/Order.ts
  src/domain/order/OrderItem.ts
  src/domain/order/OrdersSummary.ts
  src/domain/product/Product.ts
  src/domain/user/User.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

Implement query hooks
  src/utils/Values.ts
  src/utils/parseNumberFromQueryParam.ts
  src/view/orders/buildFetchUserOrdersQueryKey.ts
  src/view/orders/buildFetchUserOrdersSummaryQueryKey.ts
  src/view/orders/queryUserOrders.ts
  src/view/orders/useLoadedUserOrders.ts
  src/view/orders/useUserOrders.ts
  src/view/orders/useUserOrdersSummary.ts
  src/view/pages/users/parseUserOrdersPageQueryParams.ts
  src/view/user/buildFetchUserQueryKey.ts
  src/view/user/useLoadedUser.ts
  src/view/user/useUser.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

Implement user orders page
  pages/users/[userId].tsx
  src/components/index.md
  src/utils/isServer.ts
  src/view/money/formatMoney.ts
  src/view/orders/OrderCard/OrderCard.module.scss
  src/view/orders/OrderCard/OrderCard.tsx
  src/view/orders/OrderCard/orderCardTestIds.ts
  src/view/orders/OrderItem/OrderItem.module.scss
  src/view/orders/OrderItem/OrderItem.tsx
  src/view/orders/ViewOrder.tsx
  src/view/orders/ViewOrderMapper.ts
  src/view/orders/orderFormatter.ts
  src/view/orders/ordersSummaryFormatter.ts
  src/view/pages/pagesUrls.ts
  src/view/pages/users/UserPage.tsx
  src/view/pages/users/UsersPage.module.scss
  src/view/pages/users/getUsersPageServerSideProps.ts
  src/view/user/formatUserName.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

Implement e2e tests
  .gitignore
  jest.config.ts
  playwright.config.ts
  tests/e2e/support/container.ts
  tests/e2e/support/routing/routes.ts
  tests/e2e/support/user/getSampleUser.ts
  tests/e2e/tests/usersPage.spec.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

feat: adding docker to the project and sonarqube to enforce code quality standards
  docs/infrastructure/products-db.md
  infra/products/Dockerfile
  infra/products/compose.sonarqube.manager.yml
  infra/products/compose.sonarqube.scanner.yml
  infra/products/docker-compose.yml
  infra/products/sonarqubeScanner.Dockerfile
  sonar-project.properties
Due: prettier --write

API endpoints to fecth products
  app/api/products/[productId]/route.ts
  app/api/products/route.ts
  docs/backend/products-api.md
  package-lock.json
  src/utils/products.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

Correct invalid type for next requests
  app/api/products/[productId]/route.ts
  app/api/products/route.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

API endpoints to fetch user and orders data
  .env.local
  app/api/auth/route.ts
  app/api/users/orders/route.ts
  app/api/users/orders/total-spent/route.ts
  app/api/users/route.ts
  docs/backend/user-api.md
  package.json
  pnpm-lock.yaml
  src/utils/orders.ts
  src/utils/users.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

Backend Issues
  .env.local
  app/api/login/route.ts
  app/api/signup/route.ts
  app/api/users/orders/route.ts
  app/api/users/orders/total-spent/route.ts
  app/api/users/route.ts
  docs/backend/user-api.md
  src/utils/users.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

Some DTOs
  .env.local
  app/api/products/route.ts
  app/api/signup/route.ts
  package.json
  pnpm-lock.yaml
  src/mock/small/users.json
  src/utils/products.ts
  src/utils/users.ts
  tsconfig.json
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

DTO for Login
  .env.local
  app/api/login/route.ts
  src/utils/users.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

Env Examples
  .env.local
Due: none

Correct warning from the mocked users type
  docs/backend/user-api.md
  src/utils/users.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

Move JWT expiration time to env variables
  .env.local
  src/utils/users.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

Move JWT expiration time to env variables
  .env.local
Due: none

feat: signup endpoint and mongo registration
  .dockerfile
  .env.local
  app/api/route.ts
  app/api/signup/route.ts
  app/api/user/[id]/orders/route.ts
  app/api/user/[id]/orders/total/route.ts
  app/api/user/[id]/route.ts
  infra/db/mongo/models/User.ts
  infra/db/mongo/mongo.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

feat: login endpoint and mongo comparation
  app/api/login/route.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

feat: product consult and search
  app/api/product/[id]/route.ts
  app/api/product/route.ts
  app/api/product/search/route.ts
  src/mock/small/products.json
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

docs: adding docs about the backend changes
  docs/backend/index.md
  docs/backend/product/product.md
  docs/backend/signup/signup.md
  docs/backend/user/user.md
Due: prettier --write

fix: fix build error of empty route
  app/api/route.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write
