Repository jhanke00/nextjs-product-site: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jest --bail --findRelatedTests, prettier --write

fix: solve error when run pnpm storybook command #74
  tsconfig.json
Due: prettier --write

fix: pnpm-lock for github actions
  pnpm-lock.yaml
Due: none

fix: Fix storybook command error
  tsconfig.json
Due: prettier --write

feat: add user routes
  app/api/user/[userId]/getUser.test.ts
  app/api/user/[userId]/orders/getOrders.test.ts
  app/api/user/[userId]/orders/route.ts
  app/api/user/[userId]/route.ts
  app/api/user/[userId]/totalSpent/getTotalSpent.test.ts
  app/api/user/[userId]/totalSpent/route.ts
  docs/backend/user-api.md
  jest.config.ts
  pnpm-lock.yaml
  src/type/users/index.ts
  src/utils/apiErrors/errorMessages.ts
  src/utils/apiErrors/handleError.test.ts
  src/utils/apiErrors/handleError.ts
  src/utils/apiErrors/index.ts
  src/utils/order/orderService.test.ts
  src/utils/order/orderService.ts
  src/utils/user/userService.test.ts
  src/utils/user/userService.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

fix: request type
  app/api/user/[userId]/getUser.test.ts
  app/api/user/[userId]/orders/getOrders.test.ts
  app/api/user/[userId]/orders/route.ts
  app/api/user/[userId]/route.ts
  app/api/user/[userId]/totalSpent/getTotalSpent.test.ts
  app/api/user/[userId]/totalSpent/route.ts
  src/utils/apiErrors/handleError.test.ts
  src/utils/apiErrors/handleError.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

feature: implementing repositories and seed for test purpose
  app/api/seed-products/route.ts
  docs/images/database-structure.png
  docs/infrastructure/database/database-instructions.md
  scripts/seed-products.ts
  src/data/factories/products-db-repository-factory.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

fix: updating version and removing comment
  app/api/index.md
  app/api/seed-products/route.ts
  package.json
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

fix: adjusting lint warn
  .eslintrc.json
  src/data/usecases/products-repository.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

fix: adjusting eslint suggestions and setting up autofix on save
  .vscode/settings.json
  app/page.tsx
  app/products/[productId]/page.tsx
  src/data/protocols/db/products-repository.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

refactor: making changes on jest config , separate unit tests and integration
  jest-integration-config.ts
  jest.config.ts
  package.json
  scripts/seed-products.ts
  scripts/seedProductTable.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

feat: implement infra with docker, Prisma ORM, and postgresql database
  .gitignore
  README.md
  docs/infrastructure/docker/docker-instructions.md
  docs/infrastructure/index.md
  docs/infrastructure/prisma/prisma-instructions.md
  infra/docker-compose.yml
  infra/index.md
  package.json
  pnpm-lock.yaml
  prisma/migrations/20240926212301_create_tables/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
  prisma/seed.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

feature: implementing new method for products repository
  .eslintrc.json
  .vscode/settings.json
  app/api/seed-products/route.ts
  docs/infrastructure/database/database-instructions.md
  infra/db/mongodb/products/products-mongo-repository.ts
  package.json
  src/data/factories/products-db-repository-factory.ts
  src/data/protocols/db/products-repository.ts
  src/data/usecases/products-repository.ts
  src/services/products/find-product-by-id-service.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

feature: implementing inputs validator
  infra/validators/schema-validator.ts
  package.json
  pnpm-lock.yaml
  src/domain/validators/validator.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

feature: creating service to find product by id
  app/api/products/[id]/route.ts
  infra/db/mongodb/schemas/products-schema.ts
  infra/validators/schemas/find-by-id-schema.ts
  infra/validators/schemas/index.ts
  src/services/factories/find-product-by-id-factory.ts
  src/services/factories/index.ts
  src/services/helpers/http-helpers.ts
  src/services/products/find-product-by-id-service.ts
  src/services/services/find-product-by-id-service.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

feature: creating unit tests for find product by id service
  app/api/products/[id]/route.ts
  src/services/helpers/http-helpers.ts
  src/services/services/find-product-by-id-service.spec.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

fix: adjusting docs
  app/api/index.md
  docs/backend/index.md
  docs/infrastructure/index.md
  infra/index.md
Due: prettier --write

fix: docs
  app/api/index.md
  docs/infrastructure/index.md
  infra/index.md
Due: prettier --write

feat: implemented API for users, products and orders
  app/api/orders/delete/route.ts
  app/api/orders/getOrder/route.ts
  app/api/orders/route.ts
  app/api/products/delete/route.ts
  app/api/products/getProduct/route.ts
  app/api/products/route.ts
  app/api/users/delete/route.ts
  app/api/users/getUserByEmail/route.ts
  app/api/users/getUserById/route.ts
  app/api/users/route.ts
  docs/backend/index.md
  docs/infrastructure/prisma/prisma-instructions.md
  pnpm-lock.yaml
  prisma/migrations/20240926223011_delete_cascade/migration.sql
  prisma/schema.prisma
  src/utils/orders/calculateTotal.ts
  src/utils/users/capitalizeEmail.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

Backend changes: Added docker compose file, mongodb for large files, authentication, api endepoints to handle users, orders and products
  .env.local
  .gitignore
  docker-compose.yml
  docs/backend/index.md
  models/Order.ts
  models/Product.ts
  models/User.ts
  package.json
  pages/api/auth/login.ts
  pages/api/auth/signup.ts
  pages/api/me/index.ts
  pages/api/me/orders/index.ts
  pages/api/me/orders/total.ts
  pages/api/me/password.ts
  pages/api/products/[id].ts
  pages/api/products/filters.ts
  pages/api/products/index.ts
  pages/api/small/products/[id].ts
  pages/api/small/products/filters.ts
  pages/api/small/products/index.ts
  pages/api/small/users/[id]/index.ts
  pages/api/small/users/[id]/orders/index.ts
  pages/api/small/users/[id]/orders/total.ts
  pnpm-lock.yaml
  scripts/populateDB.js
  src/type/customUserRequest.ts
  src/type/products/index.ts
  src/utils/commonUtilities.ts
  src/utils/dbConnect.ts
  src/utils/middlewares/authMiddleware.ts
  tsconfig.json
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

feat: Introduce ProductCard component and update product pages
  app/products/[productId]/page.tsx
  app/products/page.tsx
  docs/frontend/index.md
  package.json
  pnpm-lock.yaml
  src/components/ui/ProductCard/ProductCard.stories.tsx
  src/components/ui/ProductCard/index.tsx
  src/type/products/index.ts
  tsconfig.json
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

Changes to backend docs
  docs/backend/index.md
Due: prettier --write

docs(frontend): add ProductCard image to documentation
  docs/frontend/images/ProductCard.png
  docs/frontend/index.md
Due: prettier --write

refactor: injected dependencies at find products by id service
  src/services/services/find-product-by-id-service.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

refactor: adjusting api structure for better performance
  app/api/products/[id]/route.ts
  src/presentation/factory/services/products/find-product-by-id-factory.ts
  src/presentation/helpers/http-helpers.ts
  src/presentation/services/products/find-product-by-id-service.spec.ts
  src/presentation/services/products/find-product-by-id-service.ts
  src/services/factories/index.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

feature: implementing pagination utils
  src/utils/pagination-input-util.ts
  src/utils/pagination-response-util.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

feature: implementing method getAll on mongo repository
  app/api/index.md
  app/api/products/[id]/route.ts
  docs/backend/index.md
  docs/infrastructure/index.md
  infra/db/mongodb/products/products-mongo-repository.ts
  infra/validators/schema-validator.ts
  infra/validators/schemas/find-by-id-schema.ts
  infra/validators/schemas/index.ts
  src/data/protocols/db/products-repository.ts
  src/domain/validators/validator.ts
  src/presentation/factory/services/products/find-product-by-id-factory.ts
  src/presentation/helpers/http-helpers.ts
  src/presentation/services/products/find-product-by-id-service.spec.ts
  src/presentation/services/products/find-product-by-id-service.ts
  src/utils/pagination-input-util.ts
  src/utils/pagination-response-util.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

fix: removing duplicated util
  src/utils/pagination-input-util.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

feature: creating route to get all products and paginate
  app/api/products/route.ts
  infra/db/mongodb/products/products-mongo-repository.ts
  infra/tests/validator-stub.ts
  src/data/usecases/products-repository.ts
  src/data/usecases/tests/products-repository-stub.ts
  src/presentation/factory/services/products/get-all-products-factory.ts
  src/presentation/services/products/find-product-by-id-service.spec.ts
  src/presentation/services/products/get-all-products-service.spec.ts
  src/presentation/services/products/get-all-products-service.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

feature: adding documentation
  app/api/index.md
  docs/backend/index.md
Due: prettier --write

feature: updating changelog and fixing storybook issue
  package.json
  tsconfig.json
Due: prettier --write

docs: udpating project docs
  changelog.md
  docs/backend/index.md
  docs/infrastructure/index.md
  infra/index.md
Due: prettier --write

docs: updating changelog
  changelog.md
Due: prettier --write

feature: creating user mongo schema
  infra/db/mongodb/schemas/products-schema.ts
  infra/db/mongodb/schemas/users-schema.ts
  src/domain/models/index.ts
  src/domain/models/users.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

refactor: changing mongo folder name
  infra/db/mongodb/repositories/products-mongo-repository.ts
  src/data/factories/products-db-repository-factory.ts
  src/data/usecases/products-repository.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

feature: implementing users mongo repository
  .gitignore
  infra/db/mongodb/repositories/users-mongo-repository.ts
  src/data/protocols/db/dtos/users-repository.dto.ts
  src/data/protocols/db/users-repository.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

feature: creating user repository and calling at seed function
  scripts/seed-products.ts
  src/data/factories/index.ts
  src/data/factories/users-db-repository-factory.ts
  src/data/protocols/db/dtos/users-repository.dto.ts
  src/data/usecases/users-repository.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

feature: implementing JWT auth
  infra/authenticators/jwt/helpers/jwt-helper.ts
  infra/docker-compose.yml
  package.json
  pnpm-lock.yaml
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

feature: implementing jwt and bcrypt for auth managment
  infra/authenticators/bcrypt/bcrypt-helper.ts
  infra/authenticators/jwt/helpers/jwt-helper.ts
  infra/authenticators/jwt/jwt-helper.ts
  infra/db/mongodb/schemas/users-schema.ts
  package.json
  pnpm-lock.yaml
  src/data/factories/users-db-repository-factory.ts
  src/data/usecases/users-repository.ts
  src/domain/authenticators/authenticator.ts
  src/domain/authenticators/passwords-manager.ts
  src/domain/models/users.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

fix: adding comment explening decision
  .vscode/settings.json
  app/api/products/route.ts
  changelog.md
  docs/backend/index.md
  docs/infrastructure/index.md
  infra/authenticators/bcrypt/bcrypt-helper.ts
  infra/authenticators/jwt/jwt-helper.ts
  infra/db/mongodb/repositories/products-mongo-repository.ts
  infra/db/mongodb/schemas/products-schema.ts
  infra/db/mongodb/schemas/users-schema.ts
  infra/index.md
  infra/tests/validator-stub.ts
  src/data/factories/index.ts
  src/data/factories/users-db-repository-factory.ts
  src/data/protocols/db/dtos/users-repository.dto.ts
  src/data/usecases/products-repository.ts
  src/data/usecases/tests/products-repository-stub.ts
  src/data/usecases/users-repository.ts
  src/domain/authenticators/authenticator.ts
  src/domain/authenticators/passwords-manager.ts
  src/domain/models/index.ts
  src/domain/models/users.ts
  src/presentation/services/products/find-product-by-id-service.spec.ts
  src/presentation/services/products/get-all-products-service.ts
  src/utils/pagination-input-util.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

fix: adding comment explening decision
  infra/authenticators/bcrypt/bcrypt-helper.ts
Due: eslint --fix, jest --bail --findRelatedTests, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  jest --bail --findRelatedTests: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{js,jsx,ts,tsx,json,md,mdx}
